body {
    background-color: #f6f9fa;
    overflow-y: scroll;
    margin-top: 80px;
}


/* Navbar */

.navbar-brand {
    cursor: pointer;
}

.brand-glyphicon {
    font-size: small;
    top: -2px;
}

#subreddits-dropdown-container {
    min-width: 200px;
}

#subreddits-dropdown-container .subreddits-dropdown-item {
    cursor: pointer;
}

#subreddits-dropdown-container #add-favourite-button {
    cursor: pointer;
}

#login-button {
    cursor: pointer;
}


/* Navigation drawer */

.navigation-drawer-container {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin-left: -300px;
    z-index: 1000;
}

.navigation-drawer-container .navigation-drawer {
    height: 100%;
    overflow: auto;
}

.navigation-drawer-container .navigation-drawer .subreddit-form {
    padding: 5px;
    width: 100%;
}

.navigation-drawer-container .navigation-drawer .drawer-heading {
    background-color: #0c84e4;
    color: white;
    text-align: center;
}

.navigation-drawer-container .navigation-drawer .drawer-title {
    text-decoration: none;
}

.navigation-drawer-container .navigation-drawer .subreddit {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 110%;
}

.navigation-drawer-container .navigation-drawer .subreddit .name {
    color: black;
    font-weight: normal;
}

.navigation-drawer-container .navigation-drawer .subreddit:hover {
    background-color: #f5f5f5;
}

.navigation-drawer-container .navigation-drawer a {
display: block;
}


/* Posts page */

#posts-page-container {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
}

#posts-sort-tabs-container .active a {
    background-color: #158cba;
    color: white;
}

#progress-indicator {
    text-align: center;
    margin-bottom: 25px;
}

#posts-error-container {
    margin-top: 10%;
}

.posts-page-header {
    margin-top: 0;
    vertical-align: middle;
    text-align: center;
}

.posts-page-header #current-subreddit {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
}

.posts-page-header .right-col {
    text-align: right;
    vertical-align: middle;
}

.post {
    margin: 15px 0;
    border-radius: 3px;
}

.post .left-col {
    margin-right: 3px;
    height: 75px;
    float: left;
}

.post .middle-col {
    float: left;
    margin-right: 5px;
}

.post .right-col {
    display: table;
}

.post .title {
    color: #0a68b4;
    font-size: 140%;
    font-weight: 400;
}

.post ._thumbnail {
    height: 75px;
    width: 75px;
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
}

.post .score {
    font-size: 150%;
    font-weight: 300;
}

.post .comments-link {
    color: #666666;
}

.post .upvoted-score {
    color: #ff8b60
}

.post .downvoted-score {
    color: #9494ff
}

.post .author, .subreddit {
    color: #0a68b4 !important;
    font-weight: bold;
    text-decoration: none;
}

.post .upvote-button, .downvote-button {
    padding: 3px 6px;
    vertical-align: bottom;
    color: lightgray;
    font-size: 110%;
}

.post .upvoted-button {
    color: #ff8b60;
}

.post .downvoted-button {
    color: #9494ff;
}

#more-posts-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

.posts-sort-tab {
    text-transform: capitalize;
}


/* Comments page */

.comments-page-header {
    margin-bottom: 20px;
}

#comments-progress-indicator {
    margin-top: 10%;
    text-align: center;
}

#comments-error-container {
    margin-top: 10%;
}

#comments-container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 30px;
}

.comment {
    border-left: 2px solid dodgerblue;
    padding: 5px 5px 5px 10px;
    display: flex;
}

.comment .left-col {
    margin-right: 10px;
    width: 20px;
}

.comment .btn-sm {
    padding: 2px 4px;
    font-size: 80%;
}

.comment-first {
    background-color: #fafafa;
    border-left: none;
    padding-left: 5px;
    margin-top: 10px;
}

.comment .upvoted-score {
    font-weight: bold;
    color: #ff8b60
}

.comment .downvoted-score {
    font-weight: bold;
    color: #9494ff
}

.comment .author {
    color: #0a68b4 !important;
    font-weight: bold;
    text-decoration: none;
}

.comment .body {
    font-size: 120%;
}