body {
    background-color: #f6f9fa;
    overflow-y: scroll;
    margin-top: 80px;
}


/* Progress indicator */

#progress-indicator {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

#progress-indicator #progress-text {
    color: darkgray;
}


/* Navbar */

.navbar-brand {
    cursor: pointer;
}

.brand-glyphicon {
    font-size: small;
    top: -2px;
}

#subreddits-dropdown-container {
    min-width: 200px;
}

#subreddits-dropdown-container .subreddits-dropdown-item {
    cursor: pointer;
}

#subreddits-dropdown-container #add-favourite-button {
    cursor: pointer;
}

#login-button {
    cursor: pointer;
}


/* Control panel */

.navigation-drawer-container {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: -300px;
    z-index: 1000;
}

.navigation-drawer-container .navigation-drawer {
    height: 100%;
    overflow: auto;
}

.navigation-drawer-container .navigation-drawer .subreddit-form {
    padding: 5px;
    width: 100%;
}


/* Posts page */

.posts-page-header {
    margin-top: 0;
    vertical-align: middle;
    text-align: center;
}

.posts-page-header #current-subreddit {
    background-color: #0c84e4;
    margin: 0;
    color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
}

.posts-page-header .right-col {
    text-align: right;
    vertical-align: middle;
}

.post {
    padding: 10px;
    margin: 15px 0;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    display: flex;
}

.post .left-col {
    width: 85px;
    margin-right: 10px;
}

.post .right-col {
    width: 100%;
}

.post .title {
    color: #0a68b4;
    font-size: 130%;
}

.post ._thumbnail {
    height: 75px;
    width: 75px;
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
}

.post .score {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eee;
    padding: 5px;
    border-bottom-left-radius: 3px;
    color: #0a68b4;
}

.post .author, .subreddit {
    color: #0a68b4 !important;
    font-weight: bold;
    text-decoration: none;
}

.post .bottom-row .bottom-left-col {
    float: left;
}

.post .bottom-row .bottom-right-col {
    text-align: right;
    width: 100%;
}

#more-posts-button {
    margin-top: 15px;
    margin-bottom: 30px;
}

.posts-sort-tab {
    text-transform: capitalize;
}
