body {
    background-color: #f6f9fa;
    overflow-y: scroll;
}


/* Progress indicator */

#progress-indicator {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

#progress-indicator #progress-text {
    color: darkgray;
}


/* Navbar */

#subreddits-dropdown-container {
    min-width: 200px;
}

#subreddits-dropdown-container .subreddits-dropdown-item {
    cursor: pointer;
}

#subreddits-dropdown-container #add-favourite-button {
    cursor: pointer;
}


/* Posts page */

.posts-page-header {
    margin-top: 0;
    vertical-align: middle;
}

.posts-page-header #current-subreddit {
    color: #0a68b4;
    margin: 0;
    vertical-align: middle;
}

.posts-page-header .right-col {
    text-align: right;
    vertical-align: middle;
}

.post {
    padding: 15px;
    margin: 20px 0;
    /*border: 1px solid #e0e0e0;*/
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}

.post .left-col {
    float: left;
    width: 85px;
}

.post .right-col {
    width: 100%;
}

.post .title {
    color: black;
    font-size: 130%;
}

.post ._thumbnail {
    height: 75px;
    width: 75px;
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: block;
}

.post .score {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eee;
    font-weight: bold;
    padding: 5px;
    border-bottom-left-radius: 3px
}

.post .author, .subreddit {
    color: #0a68b4 !important;
    font-weight: bold;
    text-decoration: none;
}

.post .bottom-row .bottom-left-col {
    float: left;
}

.post .bottom-row .bottom-right-col {
    text-align: right;
    width: 100%;
}

#more-posts-button {
    margin-top: 15px;
    margin-bottom: 30px;
}
