html, body {
    padding-top: 10px;
    height: 100%;
}

#app-container {
    height: 100%;
}


/* Progress indicator */

#progress-indicator {
    position: relative;
    top: 30%;
    text-align: center;
}

#progress-indicator #progress-text {
    color: darkgray;
}


/* Navbar */

#subreddits-dropdown-container {
    min-width: 200px;
}

#subreddits-dropdown-container .subreddits-dropdown-item {
    cursor: pointer;
}

#subreddits-dropdown-container #add-favourite-button {
    cursor: pointer;
}