<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login to Reddit</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger hidden" id="login-modal-error-container" role="alert"></div>
                <div class="form-group">
                    <label for="login-modal-username-input">Username</label>
                    <input type="text" class="form-control" id="login-modal-username-input">
                </div>
                <div class="form-group">
                    <label for="login-modal-password-input">Password</label>
                    <input type="password" class="form-control" id="login-modal-password-input">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="login-modal-submit-button">Submit</button>
            </div>
        </div>
    </div>
</div>