<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><span class="glyphicon glyphicon-menu-hamburger brand-glyphicon"></span> Reddit Reader</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown hidden">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Favourite Subreddits<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="subreddits-dropdown-container"></ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subreddit-input" placeholder="Jump to a subreddit">
                        <button class="btn btn-default btn-sm">Go</button>
                    </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as: <strong>{{username}}</strong><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a id="login-button" data-toggle="modal" data-target="#login-modal">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="navigation-drawer-container" id="navigation-drawer-container">
    <div class="navigation-drawer">


    </div>
</div>