<div class="container" id="posts-page-container">
    <div class="posts-page-header">
        <h4 class="text-center well" id="current-subreddit"></h4>
        <br>
        <ul class="nav nav-tabs nav-justified" id="posts-sort-tabs-container"></ul>
        <br>
    </div>

    <div id="posts-container"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button id="more-posts-button" class="btn btn-default btn-block">Load more</button>
        </div>
    </div>

    <h5 id="posts-error-container"></h5>

    <div id="progress-indicator">
        <div class="throbber-loader">
            Loading…
        </div>
    </div>
</div>