<div class="container">
    <div id="progress-indicator">
        <div class="throbber-loader">
            Loading…
        </div>
    </div>

    <div class="posts-page-header">
        <h6 id="current-subreddit" class="text-center"></h6>
        <br>
        <ul class="nav nav-tabs nav-justified" id="posts-sort-tabs-container"></ul>
    </div>

    <div id="posts-container"></div>

    <div id="posts-error-container"></div>

    <button id="more-posts-button" class="btn btn-primary center-block" data-loading-text="Loading...">Load more</button>
</div>