<div class="header">User</div>
{% if username %}
<div class="item">
    <a class="title" role="button" data-toggle="collapse" data-parent="#menu-accordion" href="#user-collapse" aria-expanded="false" aria-controls="user-collapse"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
    <div class="subitems-container collapse" id="user-collapse">
        <div class="subitem" id="logout-button">Logout</div>
    </div>
</div>
{% else %}
<div class="item">
    <div class="title" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</div>
</div>
{% endif %}


<div class="header">Subreddits</div>
<!--Subscribed subreddites-->
<div class="item">
    <a class="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#subs-collapse" aria-expanded="true" aria-controls="subs-collapse"><span class="glyphicon glyphicon-star"></span> Subscriptions</a>
    <div class="subitems-container collapse" id="subs-collapse" >
        {% if subs.length > 0 %}
        {% for subreddit in subs %}
        <a class="subitem collapse" href="#/r/{{subreddit.display_name}}">{{subreddit.display_name}}</a>
        {% endfor %}
        {% else %}
        <div class="subitem collapse" data-toggle="modal" data-target="#login-modal">Login to view subscriptions</div>
        {%endif%}
    </div>
</div>
<!--Default subreddits-->
<div class="item">
    <a class="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#defaults-collapse" aria-expanded="true" aria-controls="defaults-collapse"><span class="glyphicon glyphicon-list-alt"></span> Default</a>
    <div class="subitems-container collapse" id="defaults-collapse">
        {% for subreddit in defaults %}
        <a class="subitem collapse" href="#/r/{{subreddit.display_name}}">{{subreddit.display_name}}</a>
        {% endfor %}
    </div>
</div>
<!--Popular subreddits-->
<div class="item">
    <a class="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#popular-collapse" aria-expanded="true" aria-controls="popular-collapse"><span class="glyphicon glyphicon-thumbs-up"></span> Popular</a>
    <div class="subitems-container collapse" id="popular-collapse">
        {% for subreddit in popular %}
        <a class="subitem collapse" href="#/r/{{subreddit.display_name}}">{{subreddit.display_name}}</a>
        {% endfor %}
    </div>
</div>
