
/* General */

body {
    background-color: #1B1B1D;
}

/* Navigation bar */

.navbar-inverse {
    background-color: #375a7f;
}

#subreddit-input {
    background-color: rgba(0,0,0,0.2);
}


/* Sidebar */

#sidebar-button {
    color: #ffffff;
    background-color: #375a7f;
    border-color: #253c54;
}

.sidebar-wrapper {
    background: #222d32;
}

.sidebar-wrapper .menu .header {
    color: #4b646f;
    background-color: rgba(0,0,0,0.1);
}

.sidebar-wrapper .menu .item .title {
    color: #b8c7ce;
    border-left: 3px solid transparent;
}

.sidebar-wrapper .menu .item .title:hover {
    border-left: 3px solid #367fa9;
    background-color: transparent;
    color: white;
}

.sidebar-wrapper .menu .item .subitem {
    color: #8aa4af;
    background-color: #2c3b41;
}

.sidebar-wrapper .menu .item .subitem:hover {
    color: white;
}


/* Posts page */

#posts-page-container {
    background-color: #252525;
}

#posts-sort-tabs-container a {
    border-bottom-color: #464545;
    color: #a5b3b9 !important;
}

#posts-sort-tabs-container a:hover {
    background-color: #2e2e2e;
    border-color: #464545;
    box-shadow: inset 0 -2px 0 #00bc8c;
}

#posts-sort-tabs-container .active a {
    background-color: transparent !important;
    box-shadow: inset 0 -2px 0 #00bc8c;
    color: #00bc8c !important;
    border-color: #464545;
    border-bottom: transparent;
}

.post {
    color: rgba(255,255,255,0.4);
    background-color: transparent;
}

.post .title {
    color: rgba(255,255,255,0.7);
}

.post .author, .subreddit {
    color: #00bc8c !important;
    font-weight: normal;
}

.post .score {
    color: rgba(255,255,255,0.6);
    background-color: #303030;
}

.post .btn-default {
    color: #c2cbcf;
    background-color: #464545;
    border-color: #464545;
}

.post .comments-link {
    color: rgba(255,255,255,0.4);
}

.post .self-text {
    border-color: #464545;
    color: #a5b3b9;
}

#more-posts-button {
    color: #ffffff;
    background-color: #375a7f;
    border-color: #253c54;
}

#more-posts-button:hover {
    color: #ffffff;
    background-color: #28415b;
    border-color: #253c54;
}

#posts-error-container {
    color: white;
}


/* Comments page */

#comments-page-body, #post-container {
    background-color: #252525 !important;
}

#comments-sort-tabs-container a {
    border-bottom-color: #464545;
    color: #a5b3b9 !important;
}

#comments-sort-tabs-container a:hover {
    background-color: #2e2e2e;
    border-color: #464545;
    box-shadow: inset 0 -2px 0 #00bc8c;
}

#comments-sort-tabs-container .active a {
    background-color: transparent !important;
    box-shadow: inset 0 -2px 0 #00bc8c;
    color: #00bc8c !important;
    border-color: #464545;
    border-bottom: transparent;
}

#comments-container {
    background-color: #252525;
}

.comment {
    color: rgba(255,255,255,0.4);
    border-color: rgba(255,255,255,0.3);
}

.comment .score {
    /*color: #7a8f98;*/
}

.comment .author {
    color: #00bc8c;
    font-weight: normal;
}

.comment .body {
    color: rgba(255,255,255,0.7);
}

.comment-first {
    background-color: rgba(255,255,255,0.1);
}

.comment .btn-default {
    color: #c2cbcf;
    background-color: #464545;
    border-color: #464545;
}

.thread-separator {
    border-color: #464545;
}

#thread-navigator-container {
    background-color: rgba(0,0,0,0.4);
    box-shadow: none;
}

#thread-navigator-container .btn-warning {
    background-color: #00bc8c;
    border-color: #00bc8c;
}

#thread-navigator-container .btn-warning:hover {
    background-color: #008966;
    border-color: #008966;
}

#thread-navigator-container .btn-warning:active {
    background-color: #008966;
    border-color: #008966;
}

#comments-error-container {
    color: white;
}
