
/* General */

body {
    font-size: 12px;
    line-height: 1.5;
    background-color: #f2f2f2;
}

.card-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/* Sidebar */

#sidebar-button {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.sidebar-wrapper {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    background: #f9fafc;
    transition-duration: 400ms;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    z-index: 2000;
    margin-top: -15px;
}

.sidebar-wrapper .header {
    background-color: #2196f3;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.sidebar-wrapper .header .title {
    color: white;
    font-size: 140%;
}

.sidebar-wrapper .header .subtitle {
    color: rgba(255,255,255,0.8);
    font-size: 100%;
    text-decoration: none;
    display: block;
}

.sidebar-wrapper .jump-to-subreddit-form {
    padding: 15px;
    width: 100%;
    text-align: center;
}

.sidebar-wrapper .jump-to-subreddit-form #subreddit-input {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 35px;
    width: 100%;
    color: black;
    border-radius: 2px;
    font-size: 90%;
    padding: 10px;
    box-shadow: none;
}

.sidebar-wrapper .menu .header {
    color: #848484;
    text-transform: uppercase;
    background: #f9fafc;
    padding: 10px 15px;
    font-size: 80%;
    text-align: left;
}

.sidebar-wrapper .menu .item .title {
    color: #444;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    border-left: 3px solid transparent;
    text-decoration: none;
    display: block;
    transition: none;
}

.sidebar-wrapper .menu .item .title:hover {
    /*border-left: 3px solid #367fa9;*/
    color: #000;
    background-color: #f4f4f5;
}

.sidebar-wrapper .menu .item .subitem {
    color: #777;
    background-color: #f4f4f5;
    font-size: 90%;
    padding: 5px 35px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    display: block;
    transition: none;
}

.sidebar-wrapper .menu .item .subitem:hover {
    color: #000;
}

.sidebar-wrapper .menu .glyphicon {
    margin-right: 7px;
}

.content-wrapper {
    position: relative;
    padding: 15px;
    margin-left: 200px;
    transition: none;
    margin-top: 15px;
    margin-bottom: 15px;;
}


/* Posts page */

#posts-page-container {
    max-width: 1200px;
    padding: 0;
}

#progress-indicator {
    text-align: center;
    margin-bottom: 25px;
}

#posts-error-container {
    margin-top: 10%;
}

.posts-page-header {
    margin-top: 0;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
}

#current-subreddit {
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 110%;
    font-weight: 500;
    margin-top: 5px;
    background-color: white;
}

.post {
    margin-bottom: 10px;
    font-size: 95%;
    padding: 10px;
    background-color: white;
}

.post .left-col {
    margin-right: 15px;
    float: left;
}

.post .middle-col {
    float: left;
    margin-right: 15px;
}

.post .right-col {
    display: table;
}

.post .title {
    color: rgba(0,0,0,0.9);
    font-size: 140%;
    margin-bottom: 5px;
}

.post ._thumbnail {
    height: 65px;
    width: 65px;
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    transition-duration: 150ms;
}

.post ._thumbnail:hover  {
    border-width: 4px;
}

.post .score {
    font-size: 120%;
    font-weight: 400;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px;
    margin-bottom: 3px;
}

.post .comments-link {
    color: #666666;
}

.post .upvoted-score {
    color: #ff8b60 !important;
}

.post .downvoted-score {
    color: #9494ff !important;
}

.post .author, .subreddit {
    color: #0a68b4 !important;
    text-decoration: none;
}

.post .btn-sm {
    padding: 2px 4px;
    font-size: 80%;
}

.post .upvoted-button {
    color: #ff8b60 !important;
}

.post .downvoted-button {
    color: #9494ff !important;
}

.post .self-text {
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 10px;
    font-size: 120%;
    margin-top: 5px;
}

#more-posts-button {
    margin-top: 10px;
}

.posts-sort-tab {
    text-transform: capitalize;
}


/* Comments page */

#comments-page-container {
    max-width: 1200px;
    padding: 0 !important;
}

#post-container {
    background-color: white;
    margin-bottom: 15px;
}

#post-container .post {
    margin-bottom: 0;
    padding: 10px;
}

#comments-page-body {
    background-color: white;
    padding: 10px;
}

.comments-page-header {
    margin-bottom: 20px;
}

#comments-progress-indicator {
    text-align: center;
    margin-bottom: 25px;
}

#comments-error-container {
    margin-top: 10%;
}

.comment {
    border-left: 2px solid #dddddd;
    padding: 5px 5px 5px 10px;
    clear: both;
    font-size: 90%;
}

.comment .left-col {
    float: left;
    margin-right: 10px;
    width: 20px;
}

.comment .right-col {
    display: table;
}

.comment .btn-sm {
    padding: 2px 4px;
    font-size: 80%;
}

.comment-first {
    background-color: #f9f9f9;
    border-left: none;
    padding-left: 5px;
    margin-top: 10px;
}

.comment .upvoted-score {
    font-weight: bold;
    color: #ff8b60 !important;
}

.comment .downvoted-score {
    font-weight: bold;
    color: #9494ff !important;
}

.comment .upvoted-button {
    color: #ff8b60 !important;
}

.comment .downvoted-button {
    color: #9494ff !important;
}

.comment .author {
    color: #0a68b4;
    font-weight: bold;
    text-decoration: none;
}

.comment .post-author {
    color: white !important;
    background-color: #0a68b4;
    border-radius: 2px;
    padding: 2px;
    font-weight: normal;
}

.comment .body {
    font-size: 140%;
}

.comment .body a {
    word-break: break-all;
}

.comment .body blockquote {
    word-break: break-all;
}

.comment .body p {
    margin: 0;
    padding: 0;
}

.thread-separator {
    margin: 10px 0;
}

#thread-navigator-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin-bottom: -200px;
    background-color: white;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding: 10px;
}

#navigate-down-button {
    margin-right: 10px;
}

#thread-indicator {
    margin-right: 10px;
}


/* Post preview */

#content-viewer-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 3000;
}

#content-viewer-container .mask {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: relative;
    padding: 50px;
}

#content-viewer-container .img-preview {
    max-height: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#content-viewer-container iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* Mobile UI */

@media(max-width:768px) {

    body {
        font-size: 11px;
    }

    .sidebar-wrapper {
        margin-left: -200px;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        margin-top: 0;
    }

    .content-wrapper {
        margin-left: 0;
        padding: 5px;
    }

    #posts-page-container {
        padding: 0;
    }

    #current-subreddit {
        margin-top: 5px;
    }

    .post {
        margin-bottom: 7px;
        padding: 5px;
    }

    .post .left-col {
        margin-right: 7px;
    }

    .post .middle-col {
        margin-right: 7px;
    }

    .post ._thumbnail {
        width: 60px;
        height: 60px;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a  {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }

    #comments-page-container {
        padding: 0;
    }

    #post-container {
        margin-bottom: 10px;
    }

    #post-container .post {
        padding: 5px;
    }

    #comments-page-body {
        padding: 5px;
    }

    .comment {
        padding: 5px;
    }

    #thread-navigator-container {
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(255,255,255,0.6);
        padding: 5px;
    }

    #thread-navigator-container .btn {
        padding: 5px 10px;
    }

    #content-viewer-container iframe {
        width: 100%;
    }
}