
body {
    font-size: 12px;
    line-height: 1.5;
}

/* Sidebar */

.sidebar-wrapper {
    position: fixed;
    left: -220px;
    width: 220px;
    height: 100%;
    overflow-y: auto;
    background: #222d32;
    transition: all 0.5s ease;
}

.sidebar-wrapper .header {
    background-color: #375a7f;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.sidebar-wrapper .header .title {
    color: white;
    font-size: 140%;
}

.sidebar-wrapper .header .subtitle {
    color: rgba(255,255,255,0.5);
    font-size: 100%;
    text-decoration: none;
    display: block;
}

.sidebar-wrapper .jump-to-subreddit-form {
    padding: 15px;
    width: 100%;
    text-align: center;
}

.sidebar-wrapper .jump-to-subreddit-form #subreddit-input {
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    width: 100%;
    color: rgba(255,255,255,0.8);
    border-radius: 2px;
    font-size: 90%;
    padding: 10px;
    transition: all .3s ease-in-out;
    box-shadow: none;
}

.sidebar-wrapper .menu .header {
    color: #4b646f;
    text-transform: uppercase;
    background-color: #1a2226;
    padding: 10px 15px;
    font-size: 80%;
    text-align: left;
}

.sidebar-wrapper .menu .item .title {
    color: #b8c7ce;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    border-left: 3px solid transparent;
    text-decoration: none;
    display: block;
}

.sidebar-wrapper .menu .item .title:hover {
    border-left: 3px solid #367fa9;
    color: white;
}

.sidebar-wrapper .menu .item .subitem {
    color: #8aa4af;
    background-color: #2c3b41;
    font-size: 90%;
    padding: 5px 35px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.sidebar-wrapper .menu .item .subitem:hover {
    color: white;
}

.sidebar-wrapper .menu .glyphicon {
    margin-right: 7px;
}

.content-wrapper {
    position: relative;
    padding: 15px;
    margin-left: 0;
    transition: all 0.5s ease;
}

@media(min-width:768px) {
    .sidebar-wrapper {
        left: 0;
    }

    .content-wrapper {
        margin-left: 220px;
    }
}


/* Navbar */

.navbar {
    background-color: #3c8dbc !important;
    /*box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);*/
    border: none;
}

.navbar-brand {
    cursor: pointer;
    color: white !important;
}

.navbar a {
    color: white !important;
}

.navbar .dropdown-item {
    color: #999999 !important;
}

.brand-glyphicon {
    font-size: small;
}

#subreddits-dropdown-container {
    min-width: 200px;
}

#subreddits-dropdown-container .subreddits-dropdown-item {
    cursor: pointer;
}

#subreddits-dropdown-container #add-favourite-button {
    cursor: pointer;
}

#login-button {
    cursor: pointer;
}


/* Posts page */

#progress-indicator {
    text-align: center;
    margin-bottom: 25px;
}

#posts-error-container {
    margin-top: 10%;
}

.posts-page-header {
    margin-top: 0;
    vertical-align: middle;
    text-align: center;
}

.posts-page-header #current-subreddit {
    display: inline-block;
    margin-bottom: 10px;
}

.posts-page-header .right-col {
    text-align: right;
    vertical-align: middle;
}

.post {
    margin: 15px 0;
    border-radius: 3px;
    padding: 10px;
    background: #f9f9f9;
}

.post .left-col {
    margin-right: 15px;
    height: 75px;
    float: left;
}

.post .middle-col {
    float: left;
    margin-right: 15px;
}

.post .right-col {
    display: table;
}

.post .title {
    /*color: #0a68b4;*/
    color: black;
    font-size: 135%;
    margin-bottom: 5px;
}

.post ._thumbnail {
    height: 70px;
    width: 70px;
    /*padding: 4px;*/
    /*background-color: #ffffff;*/
    border: 1px solid #000000;
    border-radius: 3px;
    display: block;
}

.post .score {
    font-size: 135%;
    font-weight: 400;
    color: #666666;
    margin-bottom: 3px;
}

.post .comments-link {
    color: #666666;
}

.post .upvoted-score {
    color: #ff8b60 !important;
}

.post .downvoted-score {
    color: #9494ff !important;
}

.post .author, .subreddit {
    color: rgba(0,0,0,0.6) !important;
    font-weight: bold;
    text-decoration: none;
}

.post .btn-sm {
    padding: 2px 4px;
    font-size: 80%;
}

.post .upvoted-button {
    color: #ff8b60 !important;
}

.post .downvoted-button {
    color: #9494ff !important;
}

.post .self-text {
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 10px;
    font-size: 120%;
}

#more-posts-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

.posts-sort-tab {
    text-transform: capitalize;
}


/* Comments page */

.comments-page-header {
    margin-bottom: 20px;
}

#comments-progress-indicator {
    text-align: center;
    margin-bottom: 25px;
}

#comments-error-container {
    margin-top: 10%;
}

#comments-container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 30px;
}

.comment {
    border-left: 2px solid #4285f4;
    padding: 5px 5px 5px 10px;
}

.comment .left-col {
    float: left;
    margin-right: 10px;
    width: 20px;
}

.comment .right-col {
    display: table;
}

.comment .btn-sm {
    padding: 2px 4px;
    font-size: 80%;
}

.comment-first {
    background-color: #f9f9f9;
    border-left: none;
    padding-left: 5px;
    margin-top: 10px;
}

.comment .upvoted-score {
    font-weight: bold;
    color: #ff8b60 !important;
}

.comment .downvoted-score {
    font-weight: bold;
    color: #9494ff !important;
}

.comment .upvoted-button {
    color: #ff8b60 !important;
}

.comment .downvoted-button {
    color: #9494ff !important;
}

.comment .author {
    color: #0a68b4;
    font-weight: bold;
    text-decoration: none;
}

.comment .post-author {
    color: white !important;
    background-color: #0a68b4;
    border-radius: 2px;
    padding: 2px;
    font-weight: normal;
}

.comment .body {
    font-size: 120%;
}

#thread-navigator-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin-bottom: -200px;
    background-color: white;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding: 10px;
}

#navigate-down-button {
    margin-right: 10px;
}

#thread-indicator {
    margin-right: 10px;
}