<div class="container-fluid" id="comments-page-container">
    <div id="post-container" class="card-shadow"></div>

    <div id="comments-page-body" class="card-shadow">
        <div class="comments-page-header">
            <ul class="nav nav-tabs nav-justified" id="comments-sort-tabs-container"></ul>
        </div>

        <div id="comments-container"></div>

        <h5 id="comments-error-container"></h5>

        <div id="comments-progress-indicator">
            <div class="plus-loader">
                Loading…
            </div>
        </div>
    </div>

    <div id="thread-navigator-container"></div>
</div>