<div class="container-fluid" id="posts-page-container">
    <div class="posts-page-header">
        <ul class="nav nav-tabs nav-justified" id="posts-sort-tabs-container"></ul>
    </div>

    <div id="posts-container"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button id="more-posts-button" class="btn btn-primary btn-block btn-sm">Load more</button>
        </div>
    </div>

    <h5 id="posts-error-container"></h5>

    <div id="progress-indicator">
        <div class="dots-loader">
            Loading…
        </div>
    </div>
</div>