<div class="container">
    <div id="progress-indicator">
        <div class="throbber-loader">
            Loading…
        </div>
    </div>

    <div class="posts-page-header">
        <h4 id="current-subreddit" class="text-center"></h4>
        <br>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#">Hot</a></li>
            <li role="presentation"><a href="#">New</a></li>
            <li role="presentation"><a href="#">Rising</a></li>
            <li role="presentation"><a href="#">Controversial</a></li>
            <li role="presentation"><a href="#">Top</a></li>
        </ul>
    </div>

    <div id="posts-container"></div>

    <div id="posts-error-container"></div>
</div>